/*------------
    RESET
------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/*------------
    LAYOUT
------------*/

.row {
    display: flex;
}

header {
    width: 235px;
    background-color: rgb(0, 0, 0);   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    color: white;
}

/* .debug {
    border: 4px dashed black;
} */

.container {
    height: calc(100vh - 90px);
}

.containerbtn {
    padding: 15px 15px 15px 0px;
    background: rgba(0, 0, 0, 0.5);
}

.container-nav {
    padding: 25px 0px;
}


footer {
    width: 100%;
    background-color: blue;
    height: 90px;
    position: absolute;
    z-index: 3;
}

main {
    background-color: #141922;
    width: 100%;
    overflow-y: auto;
}

.nav-main {
    justify-content: center;
}

.nav-main ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

.nav-main li {
    font-weight: 600;
}

.block1 {
    height: 80%;
}

.block2 {
    height: 20%;
    display: flex;
    align-items: end;
}

.col16 {
    width: calc(100% / 6);
    padding: 0 10px;
}
/*------------
COLOR AND TYPOGRAPHY
------------*/

body {
    font-family: "Montserrat", sans-serif;
}

.bg-aside {
    background-color: black ;
}

.txt-white {
    color: white;
}

.txt-black {
    color: black;
}

.txt-gray {
    color: #7a7d81;
}

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}
/*------------
    UTILITY
------------*/

.display-f {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.gap-col {
    gap: 15px;
}

.heading-lastsong {
    padding: 30px 10px;
}

.display-b {
    display: block;
}
/*------------
    ELEMENT
------------*/

a {
    text-decoration: none;
}

a li {
    color: white;
}

.logo {
    padding: 15px 30px 20px 20px;
}

.home li {
    padding-bottom: 6px;
}

.home span {
    display: flex;
    padding-left: 5px ;
}

.home button {
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.home img {
    width: 15%;
}

.playlist-nav {
    color: white;
    padding-left: 20px;
    padding-top: 10px;

}

.add-playlist {
    display: flex;
    color: white;

}

.add-playlist > i {
    padding: 3px;
    color: white;

}

.playlist {
    overflow-y: auto;
    height: 100%;
    color: white;
    padding-left: 20px;
}

.playlist ul {
    padding-top: 20px;
    list-style: none;
}

.playlist li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.playlist a {
    color: white;
}


.install {
    display: flex;
    flex-direction: column;
    background-color: brown;
    width: 100%;
}

.btn-upgrade {
    border: 2px solid white;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 13px;
}

.align-btn-upgrade {
    display: flex;
    justify-content: end;
}

.text-album {
    text-align: center;
    padding: 5px 0px;
}

.heading-general {
    padding-bottom: 5px;
}

.add-playlist i {
    width: 30px;
    height: 30px;
    background-color: #7a7d81;
    margin-right: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-playlist {
    display: flex;
    align-items: center;
}