/*------------
    RESET
------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/*------------
    LAYOUT
------------*/

.row {
    display: flex;
}

header {
    width: 190px;
    background-color: aquamarine;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

/* .debug {
    border: 4px dashed black;
} */

.container {
    height: calc(100vh - 90px);
}

.containerbtn {
    padding: 15px 15px 15px 0px;
    background: rgba(0, 0, 0, 0.5);
}

.container-nav {
    padding: 25px 0px;
}

footer {
    width: 100%;
    background-color: blue;
    height: 90px;
    position: absolute;
    z-index: 3;
}

main {
    background-color: #141922;
    width: 100%;
    overflow-y: auto;
}

.nav-main {
    justify-content: center;
}

.nav-main ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

.nav-main li {
    font-weight: 600;
}

.block1 {
    height: 80%;
}

.block2 {
    height: 20%;
    display: flex;
    align-items: end;
}

.col16 {
    width: calc(100% / 6);
    padding: 0 10px;
}
/*------------
COLOR AND TYPOGRAPHY
------------*/

body {
    font-family: "Montserrat", sans-serif;
}

.bg-aside {
    background-color: black ;
}

.txt-white {
    color: white;
}

.txt-black {
    color: black;
}

.txt-gray {
    color: #7a7d81;
}

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}
/*------------
    UTILITY
------------*/

.display-f {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.gap-col {
    gap: 15px;
}

.heading-lastsong {
    padding: 30px 10px;
}

.display-b {
    display: block;
}
/*------------
    ELEMENT
------------*/

.logo {
    background-color: red;
    padding: 10px 10px 10px 5px;
}

.home {
    background-color: yellow;
}

.playlist-nav {
    background-color: brown;
}

.add-playlist {
    display: flex;
}

.add-playlist > i {
    padding: 3px;
}

.playlist {
    background-color: blueviolet;
    overflow-y: auto;
    height: 100%;
}

.install {
    display: flex;
    flex-direction: column;
    background-color: brown;
    width: 100%;
}

.btn-upgrade {
    border: 2px solid white;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 13px;
}

.align-btn-upgrade {
    display: flex;
    justify-content: end;
}

.text-album {
    text-align: center;
    padding: 5px 0px;
}

.heading-general {
    padding-bottom: 5px;
}